/* Base layout */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-bg-dark);
  color: var(--color-text-main);
}

@media print {
  .layout {
    background: white;
    color: black;
  }
}
